 <!DOCTYPE html>
    <html>
    <head>
        <title>Brain Training Exercises</title>
    </head>
    <body>
        <h1>Welcome to Brain Training Exercises</h1>
        <ul>
            <li><a href="{% url 'memory' %}">Memory Exercises</a></li>
            <li><a href="{% url 'attention' %}">Attention Exercises</a></li>
            <li><a href="{% url 'problem_solving' %}">Problem Solving Exercises</a></li>
            <li><a href="{% url 'creativity' %}">Creativity Exercises</a></li>
        </ul>
    </body>
    </html>