<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Дополнительные стили -->
    {% load static %}
    <link href="{% static 'exercises/css/footer.css' %}" rel="stylesheet">
    </head>
<body>
    <div class="wrapper d-flex flex-column min-vh-100">
        <header>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'exercises/images/logo_Olga_brain2.png' %}" alt="Brain Training Logo" width="120" height="120" class="d-inline-block align-top">
                Brain Training
            </a>
        </header>

        <div class="container text-center flex-grow-1">
            <h1 class="display-4 text-primary">
                {% block header %}
                {% endblock %}
            </h1>

            {% block content %}
            {% endblock %}

            <a href="{% url 'home' %}" class="btn btn-secondary btn-back">Назад</a>
        </div>
<!-- Подвал -->
        <footer class="footer-custom text-center text-lg-start mt-4">
            {% include 'exercises/includes/footer.html' %}
        </footer>
    </div>
    <!-- Bootstrap JS и зависимости -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>